.card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card-image {
    flex-basis: 40%;
    margin-right: 1rem;
  }
  
  .card-info {
    flex-basis: 60%;
  }
  
  .card-info h2 {
    margin-bottom: 0.5rem;
  }
  
  .card-info h2:last-child {
    margin-bottom: 0;
  }
  
  .card-info span{
    font-weight: normal;
  }