.Lan-Container {
  background-image: url("../../img/wallpaperflare.com_wallpaper.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: xx-large;
}

h1 {
  background-color: rgb(35, 35, 35);
  border-radius: 10px;
}

h3 {
  background-color: rgb(35, 35, 35);
  border-radius: 10px;
  font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #ffff00;
  text-decoration: none;
}

a:hover{
    opacity: 70%;
}

.seeButton{
    background-color: rgb(242, 209, 22);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.seeButton:hover{
  font-size: 33px;
  opacity: 90%;
}
